.company{
    background-color: #e6edf4;
    background-image: url(../../images/main_bg_img_heder.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

@media screen and (min-width: 1200px){
    .company{
        background: none;
    }

    .companyName{
        background-image: url(../../images/main_bg_img_heder.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
    }
}

@media screen and (max-width: 992px) {
    .company{
        background: none;
    }
}


.companyName .things{
    height: 65px;
    width: 600px;
    background: var(--color_btn_read_more_hover);
    filter: drop-shadow(2px 3.464px 3.5px #95aeb6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.companyName .things ::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: var(--color_btn_read_more_hover) transparent transparent transparent;
}


@media screen and (max-width: 992px) {
    .company{
        background: none;
    }
}

.companyName a img{
    margin: 10px 0px;
}
.companyName .logo{
    display: flex;
    align-items: center;
}
.companyName .logo img{
    margin-top: 30px;
    margin-bottom: 20px;
    height: 50px;
}
.companyName h2{
    margin-top: 50px;
    background-color: var(--color_btn_read_more_hover);
    text-align: center;
    width: 600px;
    height: 65px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    display: flex;
    align-items: center;
}
.companyName h2::before{
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 35px solid var(--color_btn_read_more_hover);
    border-right: 35px solid transparent;
    position: relative;
    top: 49px;
}
.companyName .procent h2{
    font-size: 49px;
    letter-spacing: -2px;
    color: var(--color_btn_order_now);
    font-weight: 700;
    font-family: Roboto_Regular;
}
.companyName .procent span{
    font-size: 37px;
    color: var(--color_btn_order_now);
    font-weight: 400;
    font-family: Roboto_Medium;
}

.companyName .procent p{
    font-size: 30px;
    line-height: 20px;
    text-transform: uppercase;
    color: #075da2;
    font-weight: 400;
    font-family: Roboto_Regular;
    margin-left: 15px;
}




@media screen and (max-width: 992px) {
    .companyName h2{
        width: 100%;
    }
}

.companyName h3{
    margin: 35px 0px 0px;
}

.companyName ul li{
    margin-left: 20px;
    font-size: 18px;
    line-height: 30px;
    color: var(--color_p_text);
    font-family: Arial Narrow;
    position: relative;
}

.companyName .things ul li{
    font-size: 25px;;
    color: var(--color_p_text);
}

.companyName ul li::marker {
    font-size: 25px;
    color: var(--color_main_1);
}

.companyName button{
    height: 45px;
    width: 250px;
    margin: 15px 0px 10px 20px;
    background: none;
    border-color:  var(--color_main_1);
    border-radius: 5px;
    font-size: 18px;
    line-height: 42px;
    color: var(--color_main_1);
    font-weight: 400;
    font-family: Roboto_Regular;

}

.companyName button:hover{
    cursor: pointer;
    background-color: var(--color_btn_read_more_hover);
    transform: scale(1.05);
    transition: transform 1s ease;
}


.companyName .left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .companyName{
        text-align: center;
    }
    .companyName .row .row{
        display: inline-block;
    }
}
