.essay{
    background: url(../../images/Bg1-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
}

.essay .essay_writing{
    margin-top: 10px;
    height: 65px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(2,68,121,0.75));
    background-color: var(--color_btn_read_more_hover);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.essay .essay_writing::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: var(--color_btn_read_more_hover) transparent transparent transparent;
}

.essay .text{
    margin-top: 50px;
}

.essay .elements{
    display: flex; 
    justify-content: space-between; 
    align-items: stretch;
}
.essay .elements img{
    height: 100px;
    width: 100px;
    margin-top: 5px;
}
.essay .elements .element .images{
    position: relative;
}

.essay .elements .element .images .first-image{
    position: absolute;
}

.essay .element h4{
    text-align: center;
    line-height: 22px;
    font-weight: 500;
    flex: 0 0 50px;
}

.essay .element p{
    flex: 1;
    font-size: 16px;
    text-align: justify;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0px;
   }

.essay .element ul{ 
    flex: 1;
    font-size: 16px; 
    color: var(--color_p_text);
    margin-left: -20px;
    font-family: Arial;
    margin-top: 0px;
}

.essay .element ul li::marker{
    font-size: 25px;
}

.essay .elements .element{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.essay .elements .element button{
    width: 120px;
    height: 35px;
    background: var(--color_btn_read_more);
    border: var(--color_btn_read_more);
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 400;
    font-family: Roboto_Regular;
    text-align: center;
}

.essay .elements .element button:hover{
    background: var(--color_btn_read_more_hover);
    transition: transform 1s ease;
    cursor: pointer;
}

.essay .elements .element:hover .first-image{
    opacity: 0;
}

.essay .elements .element:hover{
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    background-color: #ffffff;
    position: relative;
    transition: transform 1s ease;
    cursor: pointer;
}

.essay .elements .element::after{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: #ffffff transparent transparent transparent;
}

