.essay{
    background-image: url(../../images/Bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.essay h2{
    background-color: var(--color_btn_read_more_hover);
    width: 100%;
    height: 65px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(56, 61, 63, 0.75));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.essay h2::before{
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 35px solid var(--color_btn_read_more_hover);
    border-right: 35px solid transparent;
    position: absolute;
    top: 60px;
    left: 0;
}

.essay p{
    margin-top: 50px;
    width: 100%;
    font-family: Roboto_Bolt;
    text-align: left;
}

.blocks_element{
    display: flex; 
    justify-content: space-between; 
    align-items: stretch; 
}

.blocks_element .element{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.blocks_element h4 {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blocks_element p{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
}

.image{
    position: relative;
}

.image .first-image{
    position: absolute;
}

.image img{
    width: 100px;
    height: 100px;
}

.blocks_element .element h4
.element_phone h4{
    line-height: 22px;
    font-weight: 500;
}

.blocks_element .element p, ul{
    font-size: 16px;
    font-family:  Roboto_Bolt;
    margin-top: 0px;
}

.blocks_element .element button,
.element_phone button{
    width: 120px;
    height: 35px;   
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--color_btn_read_more);
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto_Medium;
    text-align: center;
    border: none;
}

.blocks_element .element button:hover,
.element_phone button:hover{
    background-color: var(--color_btn_read_more_hover);
    color: var(--color_btn_text_hover);
    transition: transform 1s ease;
    cursor: pointer;
}

.blocks_element .element:hover{
    background-color: #fff;
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    transition: transform 1s ease;
}

.blocks_element .element:hover .first-image,
.image_phone .image:hover .first-image{
    opacity: 0;
}

.essay .element:hover::before{
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 35px solid #fff;
    border-right: 35px solid transparent;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.image_phone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_phone img{
    margin: 0px 10px;
}

.main_phone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.element_phone p{
    line-height: 25px;
    font-size: 16px;
    font-family: Roboto_Bolt;
    margin-top: 0px;
    text-align: justify;
}

.element_phone{
    background-color: #fff;
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    width: 250px;
    padding: 20px 50px;
    text-align: center;
    margin-top: 35px;
}
.element_phone::before{
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fff;
    position: absolute;
    top: -28px;
    left: 90px;
}

.image_phone .image:hover{
    transition: transform 1s ease;
    cursor: pointer;
}