.get_a{
    margin-top: 15px;
    height: 300px;
    background: url(../../images/Bg1-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color_btn_read_more);
    padding: 10px;
    padding-bottom: 30px;
    position: relative;  
}

.get_a_price .get{
    height: 65px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(2,68,121,0.75));
    background-color: var(--color_btn_read_more_hover);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.get ::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: var(--color_btn_read_more_hover) transparent transparent transparent;
}

.get_a_price .get h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #1b7fd0;
    font-weight: 600;
    font-family: Roboto_Regular;
    text-align: left;
    
}
.get_a_price .get img{
    height: 65px;
    
}

.get_a_price .get h3{
    font-size: 49px;
    letter-spacing: -2px;
    color: var(--color_btn_order_now);
    font-weight: 700;
    font-family: Roboto_Regular;
}

.get_a_price .get  span{
    font-size: 37px;
    color: var(--color_btn_order_now);
    font-weight: 400;
    font-family: Roboto_Medium;
} 

.get_a_price .get p{
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: #075da2;
    font-weight: 400;
    font-family: Roboto_Regular;
    margin: 10px 0px 0px 10px;
}

.get_a_price  .get .arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get_a_price h4{
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: Roboto_Regular;
    margin-bottom: 1px;
}

.get_a_price select{
    width: 310px;
    height: 35px;
    background-color: #e9f7fe;
    color: var(--color_p_text);
    border: 1px solid #ddd;
    border-radius: 0px;
    background-image: url('../../images/free-icon-down-3426514.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
    /* appearance: none; */
}

.get_a_price select option{
    color: var(--color_p_text);
}

.get_a_price select{
    width: 310px;
    height: 35px;
}

.get_a_price .content1, .get_a_price .content2{
    display: flex;
    justify-content: space-around;
}

.get_a_price .content2 .total h2{
    font-size: 48px;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto_Regular;
}

.get_a_price .content2 .total p{
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto_Regular;
    margin-top: 70px;
}

.get_a_price .content2 .total span{
    font-size: 25px;
}

.get_a_price .content2 .total {
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin-right: 6px;
}

.get_a_price .order p{
    text-transform: uppercase;
    color: var(--color_btn_text);
    font-size: 26px;
    font-weight: 400;
    font-family: Roboto_Regular;
    text-align: center;
}

.get_a_price .order{
    margin-top: 30px;
    margin-right: 6px;
    width: 310px;
    height: 35px;
    background: var(--color_btn_order_now);
    display: flex;
    justify-content: center;
    align-items: center;
}

.get_a_price .order::after {
    content: '';
    position: absolute;
    bottom: 65px;
    left: 987px;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: var(--color_btn_order_now) transparent transparent transparent;
}
