.get_a_price{
    background: url(../../images/Bg1-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color_btn_read_more);
    padding: 10px;
    padding-bottom: 30px;
    position: relative;  
}

.get_a_price .get{
    height: 65px;
    width: 95%;
    filter: drop-shadow(2px 3.464px 3.5px rgba(2,68,121,0.75));
    background-color: var(--color_btn_read_more_hover);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.get_a_price .get::after {
    content: '';
    position: absolute;
    bottom: -28px;
    left: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: var(--color_btn_read_more_hover) transparent transparent transparent;
}

.get_a_price .get h2{
    font-family: Roboto_Bold;
    font-size: 28px;
    color: var(--color_h2);
    text-transform: uppercase;
    font-weight: 700;
    
}
.get_a_price .get img{
    height: 65px;
    
}

.get_a_price .get h3{
    font-size: 49px;
    letter-spacing: -2px;
    color: var(--color_btn_order_now);
    font-weight: 700;
    font-family: Roboto_Regular;
}

.get_a_price .get  span{
    font-size: 37px;
    color: var(--color_btn_order_now);
    font-weight: 400;
    font-family: Roboto_Medium;
} 

.get_a_price .get .procent p{
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: #075da2;
    font-weight: 400;
    font-family: Roboto_Regular;
    margin: 10px 0px 0px 10px;
}

.get_a_price  .get .procent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.get_a_price .get .procent h2{
    font-size: 49px;
    letter-spacing: -2px;
    color: var(--color_btn_order_now);
    font-weight: 700;
    font-family: Roboto_Regular;
}

.get_price .get .arrow{
    position: absolute;
    right: 400px;
    width: 29px;
}

.get_a_price h4{
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: Roboto_Regular;
    margin-bottom: 1px;
}

.get_a_price select{
    width: 310px;
    height: 35px;
    background-color: #e9f7fe;
    color: var(--color_p_text);
    border: 1px solid #ddd;
    border-radius: 0px;
    background-image: url('../../images/free-icon-down-3426514.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
}

.get_a_price select option{
    color: var(--color_p_text);
}

.get_a_price select{
    width: 310px;
    height: 35px;
}

.get_a_price .content1, .get_a_price .content2{
    display: flex;
    justify-content: space-around;
}
.content2 .special{
    display: flex;
}
.content2 .special p{
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto_Regular;
    margin-top: 70px;
}
.content2 .special h2{
    font-size: 48px;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto_Regular;
}
.content2 .special span{
    font-size: 25px;
}

.special_block{
    margin-top: 60px;
    width: 310px;
    height: 35px;
    background: var(--color_btn_order_now);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    color: var(--color_btn_text);
    font-size: 26px;
    font-weight: 400;
    font-family: Roboto_Regular;
}
.special_block::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: var(--color_btn_order_now) transparent transparent transparent;
}
.special_block:hover{
    background: var(--color_btn_order_now_hover)
}
.special_block:hover::after{
    border-color: var(--color_btn_order_now_hover) transparent transparent transparent;
}

@media screen and (max-width: 1200px){
    .content1 select,
    .content2 select{
        width: 280px;
    }
    .total, .order{
        width: 280px;
    }
    .get .content1,
    .get .content2{
        margin-right: 30px;
    }
    .content2 .total,
    .content2 .order h2{
        font-size: 45px;
        margin-top: 45px;
    }
    .content2 .total,
    .content2 .order span{
        font-size: 20px;
    }
}
@media screen and (max-width: 991px){
    .get_a_price   .container{
        text-align: center;
       }
    .content2 .special{
        justify-content: center;
    }
    .content2{
        display: flex;
        text-align: center;
    }

    .content2 .special_block{
        margin-top: 0px;
    }
    .special_block {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}